node_modules/

.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log


# Editor settings
.vscode/
.idea/

# Build / output
dist/
build/
tmp/
temp/


# Cache
.cache/
.nyc_output/
